@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*
{
  overflow-x:hidden;
  margin: 0;
}
.headline
{
  position:relative;
  font-family: 'Josefin Slab';
  color: #ffc600;
  text-align: center;
  top: 0.4em;
  font-size: 5em;
  overflow-y:hidden;
}
.motto
{
  position: relative;
  font-family: 'Josefin Slab';
  color: #ffc600;
  text-align:center;
  top: 1.5em;
  font-size: 3em;
}
.header
{
  background: #052b4c;
  height: 23em;
  overflow-y: hidden;
}
.Profile
{
  position: relative;
  height: 15%;
  width: 4.2%;
  left:74em;
  top: -3em;
}
.find
{
  position: relative;
  height: 13%;
  width: 6%;
  left:67em;
  top: 1.6em;
}
.search
{
  font-family: 'Josefin Slab';
  color: #ffc600;
  position:relative;
  left:67.5em;
  top: 1em;
}
.post_request
{
  position: relative;
  font-family: 'Varela Round';
  font-size: 30px;
  left:16.5em;
  top: -1em;
  color: white;
  background-color: #ffc600;
  border-radius: 15px;
  border: none;
  box-shadow: #052b4c;
  transition: background-color, transform 2s;
}
.post_request:hover
{
  position: relative;
  font-family: 'Varela Round';
  font-size: 30px;
  left:16.5em;
  top: -1em;
  color: #ffc600;
  border-radius: 15px;
  border: none;
  box-shadow: 10px 10px 8px #888888;
  background-color: #052b4c;
  transform: scale(1.15);
  transition-duration: 1s;
}
.id
{
 position: relative;
 height: 12%;
 width: 7%;
 top: 8.5em;
 left: 19.5em;
}
.friend
{
  position: relative;
  height: 15%;
  width: 8%;
  top: 9em;
  right: 13em;
}
.money
{
  position: relative;
  height: 15%;
  width: 8%;
  top: 9em;
  left: 32em;
}
.money_desc
{
  position: relative;
  top: 10em;
  font-size: 20px;
  font-family: "Josefin Slab";
  left: 42em;
}
.friend_desc
{
  position: relative;
  top: 7em;
  font-size: 20px;
  font-family: "Josefin Slab";
  left: 2em;
}
.check_desc
{
  position: relative;
  top: 4em;
  font-size: 20px;
  font-family: "Josefin Slab";
  left: 22em;
}
a
{
text-decoration: none;
color: #ffc600;
font-style: bold;
font-family: 'Varela Round';
}
a:hover
{
text-decoration: underline;
text-decoration-color: yellow;
}
.footer
{
  position: relative;
  text-align: center;
  background-color: #052b4c;
  top: 9em;
  padding: 1em;
  overflow-x:hidden;
}
.about
{
position: relative;
font-size: 1.25em;
right: 5em;
}
.contactus
{
position: relative;
font-size: 1.25em;
left: 5em;
}