<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    login here <br>
    <form action="/login" method="post">
        email: <input type="text" name="email" id=""> <br>
        password: <input type="text" name="password" id=""> <br>
        <input type="submit" value="submit"> <br>
    </form> <br>

    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
        {{ message }} <br>
    {% endfor %}
    {% endwith %}
    <br>

    <a href="/register">register here</a>
</body>
</html>