<html>
  <head>
    <link href="static/Postpage.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Active Requests</title>
  </head>
  <body>
    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="static/images/DS.png" alt="" width="72" height="72">
        <h2>Active Requests</h2>
      </div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col"></th>
      <th scope="col">Leaving From</th>
      <th scope="col"></th>
      <th scope="col">Going To</th>
      <th scope="col"></th>
      <th scope="col">Contact Info</th>
      <th scope="col"></th>
      <th scope="col">Gender</th>
      <th scope="col">No. of Passengers</th>
      <th scope="col">Pet or Child</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td colspan="2">Mark Otto</td>
      <td colspan="2">The Korman Center, 15 S 33rd St, Philadelphia, PA 19104</td>
      <td colspan="2">3101 W Girard Ave, Philadelphia, PA 19130</td>
      <td colspan="2">+1 (215) 452-9876</td>
      <td>M</td>
      <td>1</td>
      <td>No</td>
      <td><button type="button" class="btn btn-success">Contacted</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td colspan="2">Jacob Thornton</td>
      <td colspan="2">613 N 32nd St 2 floor, Philadelphia, PA 19104</td>
      <td colspan="2">129 S 30th St, Philadelphia, PA 19104</td>
      <td colspan="2">+1 (215) 452-9876</td>
      <td>M</td>
      <td>1</td>
      <td>Child</td>
      <td><button type="button" class="btn btn-success">Contacted</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Harry Tubman</td>
      <td colspan="2">3210 Chestnut St, Philadelphia, PA 19104</td>
      <td colspan="2">1900 Chestnut St, Philadelphia, PA 191036</td>
      <td colspan="2">+1 (215) 452-9876</td>
      <td>M</td>
      <td>1</td>
      <td>Pet</td>
      <td><button type="button" class="btn btn-success">Contacted</button></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td colspan="2">Jacob Gonzalez</td>
      <td colspan="2">2501 Walnut St, Philadelphia, PA 19103</td>
      <td colspan="2">Douglassville, PA 19518</td>
      <td colspan="2">+1 (215) 452-9876</td>
      <td>M</td>
      <td>1</td>
      <td>Both</td>
      <td><button type="button" class="btn btn-success">Contacted</button></td>
    </tr>
    
  </tbody>
</table>
    </div>

    <a href="/newpost"> make a new post </a>
  </body>
  
</html>