<html>
  <head>
    <link href="static/Postpage.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Active Requests</title>
  </head>
  <body>
    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="static/images/DS.png" alt="" width="72" height="72">
        <h2>Active Requests</h2>
      </div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col"></th>
      <th scope="col">Leaving From</th>
      <th scope="col"></th>
      <th scope="col">Going To</th>
      <th scope="col"></th>
      <th scope="col">Contact Info</th>
      <th scope="col"></th>
      <th scope="col">Gender</th>
      <th scope="col">No. of Passengers</th>
      <th scope="col">Pet or Child</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
      <tr>
        <td colspan="2">{{row.name}}</td>
        <td colspan="2">{{row.start}}</td>
        <td colspan="2">{{row.to}}</td>
        <td colspan="2">{{row.contact}}</td>
        <td>{{row.gender}}</td>
        <td>{{row.no}}</td>
        <td>{{row.child}}</td>
        <td><button type="button" class="btn btn-success">Contacted</button></td>
      </tr>
    {% endfor %}

    
  </tbody>
</table>
    </div>

    <a href="/newpost"> make a new post </a>
  </body>
  
</html>