<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    only for drexel students <br>
    <form action="/register" method="post">
        email: <input type="text" name="email" id=""> <br>
        password: <input type="password" name="password0" id=""> <br>
        password confirm: <input type="password" name="password1" id=""> <br>
        <input type="submit" value="submit">
    </form> <br>

    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
        {{ message }} <br>
    {% endfor %}
    {% endwith %}
</body>
</html>